<section class="card">
  <div class="head">
    <h2>Photos — Album #{{ albumId }}</h2>
    <button class="btn btn-ghost" (click)="back()">Back</button>
  </div>

  <div *ngIf="loading" class="loader">Loading photos…</div>
  <div *ngIf="!loading && error" class="error">{{ error }}</div>

  <div *ngIf="!loading && !error && photos.length === 0" class="empty">
    No photos found.
  </div>

  <div class="grid" *ngIf="!loading && !error && photos.length > 0">
    <div class="ph" *ngFor="let p of photos">
      <img [src]="p.thumbnailUrl" [alt]="p.title" >
      <div class="ph__title" title="{{ p.title }}">{{ p.title }}</div>
    </div>
  </div>
</section>
