body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

#cnt-val {
    font-size: 4rem;
    font-weight: bold;
}

.pos {
    color: green;
}
.neg {
    color:red;
}
.zero {
    color:black
}

.btns {
    display: flex;
    gap: 15px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 25px;
    color: white;
}

#decrease-btn {
    background: RED;
}
#decrease-btn:hover {
    background: rgb(41, 7, 7);
}
#reset-btn {
    background: gray;
}
#reset-btn:hover {
    background: rgb(59, 59, 59);
}
#increase-btn {
    background: green;
}
#increase-btn:hover {
    background: rgb(1, 56, 1);
}

