body {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s ease;
}

header  h1 {
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#color-code {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bold;
}

.color-buttons {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.color-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.2s;
}
.color-btn:hover {
    transform: scale(1.1);
}

#random-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #f093fb 0%, #f5576c 100%);
    border: none;
    color: white;
    cursor: pointer;
}

#reset-color {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #181e1e;
    border: none;
    color: white;
    cursor: pointer;
}