<h1>{{ myName }}</h1>

<ul>
  @for (l of langs; track l) {
    <li>{{ l }}</li>
  }
</ul>

<hr>

<button (click)="toggle()">Click</button>
@if (isVisible) {
  <p>Content is visible!</p>
}
@else {
  <p>Content is hidden</p>
}

<hr>

<h3>Counter: {{ cnt }}</h3>

<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>

@if (cnt < 0) {
  <p id="Warning">Warning: the value is minus</p>
}

<hr>

@for (std of students; track std.id) {
  <div>
    {{ std.name }} - Grade: {{ std.grade }}

    @if (std.grade >= 8.5 && std.name == searchQuery) {
      <strong>(great!)</strong>
    }

  </div>
}

<hr>

<label>Search Query</label>
<input [(ngModel)]="searchQuery" type="text">

<p>{{ searchQuery }}</p>