<div> 
      <h1>{{ title }}</h1> 
      <p>Welcome to {{ framework }}!</p> 
</div> 

<h3>{{ userName}}</h3>
<p>2 + 2 = {{ 2 + 2 }}</p>
<p>UpperCase: {{ userName.toUpperCase() }}</p>

<h3>Property bindin()</h3>
<img [src]="imageUrl" [alt]="imageAlt" width="100">
<button [disabled]="isDisabled" (click)="isD()"> me</button>

<h3>Event Binding ()</h3>
<button (click)="onClick()">Click counter: {{ clickCnt }}</button>

<h3>Two-way Binding [( )]</h3>
<input [(ngModel)]="twoWayText" placeholder="Two-way binding">
<p>Value: {{ twoWayText}}</p>


<div>
      <h2>Control FLow Demo</h2>

      <button (click)="toggleVisiblity()"> ToggleContent </button>

      @if(isVisible) {
            <p>Content is visible</p>
             <h4>Product List:</h4>
      <ul>
            @for (p of products; track p.id){
                  <li>
                        {{ p.name }} - |$ {{p.price }}

                        @if (p.inStock) {
                              <span>In Stock</span>
                        }@else {
                              <span>Out of Stock</span>
                        }
                  </li>
            }
            @empty {
                  <li>No products avail</li>
            }
      </ul>
            
      }@else {
            <p>Content is hidden</p>
      }


      <select (change)="onStatusChange($event)">
            <option value="pending">pending</option>
            <option value="active">active</option>
            <option value="completed">completed</option>
      </select>

      @switch (selectStatus) {
            @case ('pending') {<p>Pending</p>}
            @case ('active') {<p>Active</p>}
            @case ('completed') {<p>completed</p>}
      }
</div>


<div>
      <h1>{{ nickName }}</h1>
      <ul>
            <p>My favorite programming langs</p>
            @for (l of langs; track l.id){
                  <li>{{ l.nameOfLangs }}</li>
            }
      </ul>
</div>

<div>
      @if (counter < 0){
            <p class="Neg"> {{ counter }}</p>
      }
      @else {
            <p class="Pos">{{ counter }}</p>
      }
      <button (click)="onClickPlus()" >+</button>
      <button (click)="onClickMinus()">-</button>
</div>

<div style="text-align: center;">
      <h1>Data Binding Demo</h1>
      <img [src] = "imageUrl" [alt]="imageAlt" width="200">

      <button (click)="incrementCnter()">Click this  damn counter</button>
      <p> {{ cnter }}</p>

      <input [(ngModel)]="Name1" placeholder="Enter ur name">
      <p>Hello, {{ Name1}}</p>
</div>